:root {
    --bs-primary: #7b1e1e; /* cor primaria*/
    --bs-body-bg: #ffffff; /* fundo do body*/
    --bs-body-color: #212529; /* conteudo, textos, etc */
    --bs-bg-neutral: #f8f9fa; /* fundos */
    --bs-text-muted: #6c757d; /* texto secundario */
    --bs-border-color: #dee2e6; /* borda sutil*/
  }